Repository livraison-dev/app, pull requests merged in 2023-12, with the labels that each got.

#1 feat: add modal components
  app.vue
  components/color/Mode.vue
  components/sidebar/layout/Item.vue
  components/sidebar/search/Search.vue
  components/sidebar/settings/Settings.vue
  components/sidebar/settings/content/About.vue
  components/sidebar/settings/content/Appearance.vue
  components/sidebar/settings/content/KeyboardShortcuts.vue
  components/sidebar/settings/layout/Content.vue
  components/sidebar/settings/layout/Ingredient.vue
  components/sidebar/settings/layout/Item.vue
  components/sidebar/settings/modal/CloseButton.vue
  components/sidebar/settings/modal/Content.vue
  components/sidebar/settings/modal/Modal.vue
  components/sidebar/settings/modal/Sidebar.vue
  components/sidebar/user/Button.vue
  components/sidebar/user/Index.vue
  composables/settingsSidebar.ts
  store/settings.ts
  store/sidebar.ts
  ui/icon/Label.vue
  ui/modal/BodyWrapper.vue
  ui/modal/Card.vue
  ui/modal/Mask.vue
  ui/modal/README.md
  ui/radio/Group.vue
  ui/radio/Item.vue
  ui/title/Label.vue
Labels: app

#4 feat: add search modal and more shortcuts
  components/global/LeftSidebar.vue
  components/layout/Root.vue
  components/sidebar/Sidebar.vue
  components/sidebar/icon/Action.vue
  components/sidebar/search/Search.vue
  components/sidebar/search/item/Group.vue
  components/sidebar/search/item/Item.vue
  components/sidebar/search/list/GoToSettings.vue
  components/sidebar/search/list/SettingColorMode.vue
  components/sidebar/search/list/SettingList.vue
  components/sidebar/search/list/ToggleSidebar.vue
  components/sidebar/search/modal/Input.vue
  components/sidebar/search/modal/Label.vue
  components/sidebar/search/modal/Modal.vue
  components/sidebar/settings/modal/Modal.vue
  composables/defineShortcuts.README.md
  composables/defineShortcuts.ts
  composables/useShortcuts.ts
  package.json
  pnpm-lock.yaml
  store/search.ts
  store/sidebar.ts
  ui/avatar/Index.vue
  ui/icon/Button.vue
  ui/icon/Label.vue
  ui/kbd/Kbd.vue
  ui/modal/BodyWrapper.vue
  ui/modal/Card.vue
  ui/modal/Mask.vue
  ui/radio/Group.vue
  ui/radio/Item.vue
  ui/title/Label.vue
Labels: enhancement, app

#6 feat: add dnd wrapper component
  package.json
  pnpm-lock.yaml
  ui/dnd/Dnd.vue
Labels: app, needs details

#7 feat(heade): add header component
  components/header/Header.vue
  components/header/icon/Add.vue
  components/header/tag/Tag.vue
  components/layout/Root.vue
  composables/useRouteHash.ts
  composables/useRouteParams.ts
  composables/useRouteQuery.ts
  pages/index.vue
  store/sidebar.ts
  types/router.ts
  ui/Label/Label.vue
  ui/icon/Button.vue
  unocss.config.ts
  vitest/composables/useRouteHash.test.ts
  vitest/composables/useRouteParams.test.ts
  vitest/composables/useRouteQuery.test.ts
Labels: app, needs details
